body {
    margin: 10px;
    background-image: url('Images/fJrvOK.png');
    

}
.display-4{
    color: white;
}
#threejs-container .country {
    width: 100%;
    height: 100vh;
    /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
}

#globeArea {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100%
}

.threejs-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#countryDetails {
    
   color: rgb(247, 6, 6);
}

#suggestions div {
   color: white;
    padding: 8px;
    cursor: pointer;
}
#suggestions div:hover {
    background-color: #f0f0f034;
}
